:root {
  /* colors */
  --black: #1b1a17;
  --white: #f8f8e8;
  --black_purple: #100720;
  --purple: #31087b;
  --pink: #fa2fb5;
  --yellow: #ffc23c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  /* font-family: 'Secular One', sans-serif; */
  font-family: "Inconsolata", monospace;
  background-color: var(--black_purple);
  color: var(--white);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Secular One", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* MAIN */
main {
  margin-top: 5rem;
}

.container {
  margin: 0 auto;
  min-height: 100vh;
  width: 90vw;
  padding: 2rem;
}

.text-yellow {
  color: var(--yellow);
  font-weight: 600;
}

.text-pink {
  color: var(--pink);
  font-weight: 600;
}

.section__title {
  font-size: 2.5rem;
  text-align: center;
}

/* BUTTONS */

.btn_home {
  background-color: var(--purple);
  border: 2px solid var(--white);
  border-radius: 1rem;
  box-shadow: var(--white) 4px 4px 0 0;
  color: var(--white);
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 1.2rem;
  padding: 0 1.2rem;
  line-height: 3rem;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: all 0.2s;
  font-family: "Inconsolata", monospace;
}

.btn_home:hover {
  background-color: #30087b83;
}

.btn_home:active {
  box-shadow: var(--white) 2px 2px 0 0;
  transform: translate(2px, 2px);
}

/* MODAL */
.modal {
  display: none; /* El modal comienza oculto */
  place-items: center;
  position: fixed; /* Posición fija para que se muestre por encima de todo */
  z-index: 1; /* Índice de capas alto para que se muestre por encima de todo */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Habilitar el scroll si el contenido es mayor que la pantalla */
  background-color: rgba(0, 0, 0, 0.4); /* Fondo semitransparente */
}

/* Estilos para el contenido del modal */
.modal-content {
  position: relative;
  background-color: var(--white);
  margin: 15% auto; /* Centrado vertical y horizontalmente */
  color: var(--black);
  padding: 0.5rem 1rem 1rem 1rem;
  border-radius: 0.5rem;
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow-y: hidden;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-content .wrapper {
  justify-content: left;
}

.modal-content .wrapper a {
  color: var(--yellow);
  cursor: default;
}

/* Estilos para el botón "cerrar" */
.close {
  color: #000;
  font-size: 2rem;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #750d0d;
  text-decoration: none;
  cursor: pointer;
}

.btn_wsp {
  background-color: #1bd741;
  border: 2px solid var(--white);
  box-shadow: var(--white) 4px 4px 0 0;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.btn_wsp:hover {
  background-color: #1bd74185;
}

.wsp_icon {
  width: 2rem;
}

@media screen and (max-width: 600px) {
  /* ASESORIAS */
  #asesorias .plan__info--list {
    grid-template-columns: 1fr;
  }

  #pasos .material-icons {
    font-size: 1rem;
  }

  #pasos .card__title {
    font-size: 1rem;
  }
  .gallery {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 360px) {
  .container {
    width: 90vw;
    padding: 0.5rem;
  }

  .container p {
    font-size: 1rem;
  }

  .container h1 {
    font-size: 1.4rem;
  }

  .container h2 {
    font-size: 1.2rem;
  }

  .container .btn_home {
    font-size: 1rem;
    line-height: 2.5rem;
    width: 100%;
  }
}

@keyframes animacion {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
